.app-header {
  background-color: var(--clr1);
  color: var(--clr2bg-light);
  padding-block: 1em;
}

.header-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-auto-flow: column;
  place-items: center;
}

.app-nav {
  display: flex;
  gap: 15px;
}

a.active {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg-light);
  }
}
