.todo-list {
  padding: 15px 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.todo-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr1bg);
}

.todo-card {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: #a4d4ff  4px 4px;
  > section {
    margin-bottom: 5px;
  }
}

.todo-checkbox {
  accent-color: #4CAF50;
  border: 1px solid purple;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}