.todo-list {
  padding: 15px 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.todo-list li {
  display: grid;
  grid-template-rows: 1fr auto;
}

.todo-card {
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: #a4d4ff 4px 4px;
  > section {
    margin-bottom: 5px;
    min-width: 200px;
  }
}

.todo-checkbox {
  accent-color: #4caf50;
  border: 1px solid purple;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}
